%body
  .notice
    チャットグループが作成されました
  .contents
    .sidebar
      .sidebar-top
        .sidebar-top__nickname
          = current_user.name
        .sidebar-top__icon
          = link_to do
            = fa_icon'edit', class: 'icon'
          = link_to edit_user_path(current_user) do
            = fa_icon'gear', class: 'icon'
      .sidebar-bottom
        = render partial: "select"
    .main
      .main-top
        .main-top__name
          sampleグループ
        .main-top__edit
          Edit
        .main-top__member
          Member : shoma
      .main-center
        = render partial: "messages"
      .main-bottom
        .main-bottom__text
          .main-bottom__text--message
            type a message
          .main-bottom__text--icon
            = fa_icon'image'
        .main-bottom__send
          Send
